h1
{
	text-align: center;
	text-transform: uppercase;
}

.note
{
	width: 80%;
	margin: 0px auto;
	display: block;
	margin-bottom: 1em;
	padding: 0.5em;
}

.list
{
	list-style: none;
	margin: 0px auto;
	width: 85%;
}

.list li
{
	padding-bottom: 0.5em;
	border-bottom: #bbb 1px solid;
}